.popup {
    background: white;
    padding: 1em;
    border-radius: 0.5em;
    max-width: 80%;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
    height: 250px;

    & h2 {
        margin-top: 0;
    }

    & textarea {
        width: 100%;
    }

    .button_row{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5em;
    }

    .how-to-remove{
        color: #797979;
        text-align: center;
        font-size: 0.8em;
        cursor: pointer;
    }
}