main {
    display: flex;
}

.container {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.5em;

    width: 100%;

    @media (max-width:700px) {
        flex-direction: column;
        align-items: center;
    }

    .user-col {
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        .user-line {
            background-color: var(--color1);
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5em;
            padding: 0.5em;
            border-radius: 0.5em;
            cursor: pointer;
            border-right: 2px solid transparent;

            .pfp-cont {
                width: 3em;
                height: 3em;
                border-radius: 0.5em;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 0.5em;

                .avatar-elem {
                    width: 100%;
                    height: 100%;
                    border-radius: 0.5em;
                    overflow: hidden;
                    display: grid;
                    place-items: center;

                    img,
                    video {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        max-width: unset;
                        max-height: unset;
                    }
                }

                .temp-name {
                    font-size: 2.25em;
                    color: var(--font-color1);
                }
            }

            .NnLMC {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.25em;
                overflow: hidden;
                max-width: 100%;

                .user-name {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 0.25em;
                }

                .last-msg-n-cnt-row {
                    overflow: hidden;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    gap: 0.3em;
                    flex: 1;

                    .last-msg {
                        color: var(--font-color3);
                        font-size: 0.8em;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 150px;
                    }

                    .msg-counter-dm {
                        color: var(--font-color1);
                        background-color: var(--color2);
                        border: 0.1em solid var(--color3);
                        padding: 0.1em 0.3em;
                        border-radius: 1em;
                        font-size: 0.8em;
                    }
                }
            }

            &.active {
                animation: smoothColor 0.2s forwards;

                @keyframes smoothColor {
                    from {
                        border-color: transparent;
                    }

                    to {
                        border-color: var(--color3);
                    }
                }
            }
        }

        .system-block {
            background-color: var(--color1);
            color: var(--font-color1);
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5em;
            padding: 0.5em;
            border-radius: 0.5em;
            cursor: pointer;
            border-right: 2px solid transparent;

            .pfp-cont {
                min-height: 3em;
                min-width: 3em;
                max-height: 3em;
                max-width: 3em;
                overflow: hidden;
                display: grid;
                place-items: center;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;

                    &.PI {
                        filter: invert(1);
                    }
                }

                .temp-name {
                    font-size: 2.25em;
                    color: var(--font-color1);
                }
            }

            &.active {
                animation: smoothColorSys 0.2s forwards;

                @keyframes smoothColorSys {
                    from {
                        border-color: transparent;
                    }

                    to {
                        border-color: #f22;
                    }
                }
            }
        }
    }

    .messager-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
        flex: 1 1;
        height: 100%;

        @media (max-width:700px) {
            width: 100%;
            box-sizing: border-box;
        }

        &>* {
            background-color: var(--color1);
            padding: 0.5em;
            border-radius: 0.5em;
            width: 100%;
            box-sizing: border-box;
        }

        .messages-cont {
            min-height: 200px;
            flex: 1;
            max-height: 80vh;
            position: relative;
            display: flex;
            flex-direction: column-reverse;
            overflow-y: auto;

            .chat-select {
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
                color: var(--font-color1);
            }

            .user-messages {
                display: flex;
                flex-direction: column-reverse;
                gap: 0.2em;

                @media (min-width:700px) {
                    align-items: flex-start;
                }

                .msg-cont {
                    border-radius: 0.75em;
                    padding: 0.25em 0.5em;
                    display: flex;
                    flex-direction: column;
                    gap: 0.2em;
                    color: var(--message-font-color);

                    &.out {
                        align-self: flex-end;
                        border-bottom-right-radius: 0;
                        background-color: var(--main-message-color);

                        @media (min-width:700px) {
                            align-self: flex-start;
                            border-bottom-left-radius: 0;
                            border-bottom-right-radius: 0.75em;
                        }
                    }

                    &.in {
                        align-self: flex-start;
                        border-bottom-left-radius: 0;
                        background-color: var(--secondary-message-color);
                    }

                    .msg-text {
                        align-self: flex-start;
                        width: fit-content;
                    }

                    .data-row {
                        display: flex;
                        flex-direction: row-reverse;
                        width: fit-content;
                        align-self: flex-end;

                        .time {
                            font-size: 0.6em;
                        }

                        .readIndicator {
                            height: 0.6em;
                            width: 0.6em;
                            mask-image: url(read.svg);
                            mask-repeat: no-repeat;
                            mask-size: contain;
                            background-color: var(--message-font-color);
                        }
                    }

                    .post-row {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 0.5em;
                    }
                }
            }

            .system-messsages {
                display: flex;
                flex-direction: column-reverse;
                gap: 0.5em;

                .sys-msg {
                    background-color: var(--color2);
                    display: flex;
                    flex-direction: column;
                    width: fit-content;
                    border-radius: 0.5em;
                    color: var(--font-color1);
                    border: solid 2px var(--color3);

                    .splitter {
                        width: 100%;
                        background-color: var(--color3);
                        height: 2px;
                        box-sizing: unset;
                    }

                    .header,
                    .content,
                    .actions {
                        padding: 0.5em;
                    }

                    .header {
                        display: flex;
                        flex-direction: column;
                        gap: 0.5em;

                        .report-name {
                            font-size: 1.3em;
                            font-weight: bold;
                        }

                        .initiator-cont {
                            display: flex;
                            flex-direction: row;
                            gap: 0.25em;

                            .user-name {
                                display: flex;
                                flex-direction: row;
                                gap: 0.2em;
                                align-items: center;
                            }
                        }

                        .adressed-to-cont {
                            display: flex;
                            flex-direction: column;
                            gap: 0.3em;
                        }

                        .comment-cont {
                            display: flex;
                            flex-direction: column;
                            gap: 0.25em;

                            .comment-text {
                                background-color: #fff;
                                color: #000;
                                padding: 0.25em 0.5em;
                                border-radius: 1em;
                                border-top-left-radius: 0;
                                width: fit-content;
                            }
                        }
                    }

                    .content {
                        .tags-appeal-cont {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 0.2em;

                            .tag-row {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                gap: 0.2em;

                                .tag-state {
                                    font-weight: bold;

                                    &.rm {
                                        color: #ff0033;
                                    }

                                    &.n {
                                        color: #808080;
                                    }

                                    &.add {
                                        color: #1f1;
                                    }
                                }
                            }

                            .arrow {
                                font-size: 1.5em;
                            }

                        }

                        .group-info {
                            width: fit-content;
                            max-width: 100%;
                            box-sizing: border-box;

                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            justify-content: center;
                            align-items: center;
                            gap: 0.75em;
                        }
                    }

                    .actions {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 0.5em;

                        .reject-button {
                            background-color: red;
                            color: #fff;

                            &:hover {
                                background-color: #000;
                                color: red;
                            }
                        }

                        .acc-button {
                            background-color: green;
                            color: #fff;

                            &:hover {
                                background-color: #fff;
                                color: green;
                            }
                        }
                    }
                }
            }
        }

        .writer-line {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 0.5em;

            textarea {
                width: 100%;
                box-sizing: border-box;
                background-color: transparent;
                color: var(--font-color1);
                outline: none;
                height: fit-content;
            }
        }
    }
}