main {
    display: flex;
}

.container {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.5em;

    width: 100%;

    @media (max-width:700px) {
        flex-direction: column;
        align-items: center;
    }

    .user-col {
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        .user-line {
            background-color: var(--color1);
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5em;
            padding: 0.5em;
            border-radius: 0.5em;
            cursor: pointer;
            border-right: 2px solid;

            .pfp-cont {
                min-height: 3em;
                min-width: 3em;
                max-height: 3em;
                max-width: 3em;
                overflow: hidden;
                display: grid;
                place-items: center;

                img,
                video {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }

                .temp-name {
                    font-size: 2.25em;
                    color: var(--font-color1);
                }
            }

            .NnLMC {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.25em;
                overflow: hidden;
                max-width: 100%;

                .user-name {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 0.25em;
                }

                .last-msg-n-cnt-row {
                    overflow: hidden;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    gap: 0.3em;
                    flex: 1;

                    .last-msg {
                        color: var(--font-color3);
                        font-size: 0.8em;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 150px;
                    }

                    .msg-counter-dm {
                        color: var(--font-color1);
                        background-color: var(--color2);
                        border: 0.1em solid var(--color3);
                        padding: 0.1em 0.3em;
                        border-radius: 1em;
                        font-size: 0.8em;
                    }
                }
            }

            &.active {
                animation: smoothColor 0.2s forwards;

                @keyframes smoothColor {
                    from {
                        border-color: transparent;
                    }

                    to {
                        border-color: var(--color3);
                    }
                }
            }
        }
    }

    .messager-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
        flex: 1 1;
        height: 100%;

        @media (max-width:700px) {
            width: 100%;
            box-sizing: border-box;
        }

        &>* {
            background-color: var(--color1);
            padding: 0.5em;
            border-radius: 0.5em;
            width: 100%;
            box-sizing: border-box;
        }

        .messages-cont {
            height: 600px;
            position: relative;
            display: flex;
            flex-direction: column-reverse;
            overflow-y: auto;

            .chat-select {
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
                color: var(--font-color1);
            }

            .user-messages {
                display: flex;
                flex-direction: column-reverse;
                gap: 0.2em;

                @media (min-width:700px) {
                    align-items: flex-start;
                }

                .msg-cont {
                    border-radius: 0.75em;
                    padding: 0.25em 0.5em;
                    display: flex;
                    flex-direction: column;
                    gap: 0.2em;
                    color: #000;

                    &.out {
                        align-self: flex-end;
                        border-bottom-right-radius: 0;
                        background-color: #fff;

                        @media (min-width:700px) {
                            align-self: flex-start;
                            border-bottom-left-radius: 0;
                            border-bottom-right-radius: 0.75em;
                            background-color: #cbcbcb;
                        }
                    }

                    &.in {
                        align-self: flex-start;
                        border-bottom-left-radius: 0;
                        background-color: #fff;
                    }

                    .msg-text {
                        align-self: flex-start;
                        width: fit-content;
                    }

                    .data-row {
                        display: flex;
                        flex-direction: row-reverse;
                        width: fit-content;
                        align-self: flex-end;
                        color: #000;

                        .time {
                            font-size: 0.6em;
                        }

                        .readIndicator {
                            img {
                                height: 0.6em;
                                width: 0.6em;
                            }
                        }
                    }

                    .post-row {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 0.5em;
                    }
                }
            }
        }

        .writer-line {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 0.5em;

            textarea {
                width: 100%;
                box-sizing: border-box;
                background-color: transparent;
                color: var(--font-color1);
                outline: none;
                height: fit-content;
            }
        }
    }
}