main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;

    // Adjust padding for small screens
    @media (max-width: 600px) {
        // 600px
        padding: 1em;
    }
}

.load-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background-color: var(--color1);
    width: fit-content;
    padding: 1em;
    border-radius: 0.5em;
    min-width: 60%;
    min-height: 150px;
    max-width: 100%;

    position: relative;

    overflow: hidden;

    z-index: 1;

    border: dashed 2px var(--color3);

    #file-upload {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
        z-index: 2;
    }

    .file-upload-label {
        color: var(--font-color1);
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }

    .action-row {
        z-index: 3;
        display: none;
        flex-direction: row;
        align-items: center;
        gap: 0.5em;
        color: var(--font-color1);
        background-color: var(--color2);
        padding: 0.4em;
        border-radius: 0.2em;

        .checkbox-wrapper {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.25em;

            #groupName {
                position: absolute;
                left: calc(100% + 0.25em);
            }
        }
    }

    @media (max-width: 600px) {
        padding: 0.8em;
    }

    .file-list {
        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;

        --listElemBorders: 0.7em;

        &>* {
            border: solid 0.2em var(--color3);
        }

        &> :not(:first-child):not(:last-child) {
            border-top: none;
            border-bottom: none;
        }

        &> :first-child {
            border-top-left-radius: var(--listElemBorders);
            border-top-right-radius: var(--listElemBorders);
            border-bottom: none;
        }

        &> :last-child {
            border-bottom-left-radius: var(--listElemBorders);
            border-bottom-right-radius: var(--listElemBorders);
            border-top: none;
        }

        &> :only-child {
            border-radius: var(--listElemBorders);
            border: solid 0.2em var(--color3);
        }

        .file-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5em;
            padding: 0.75em;
            width: 100%;
            box-sizing: border-box;

            .file-preview-cont {

                img,
                video {
                    max-height: 200px;
                }
            }

            .data-column {
                color: var(--font-color1);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1em;
                height: fit-content;
                width: 100%;

                .tag-cont{
                    position: relative;
                }

                textarea,
                input {
                    box-sizing: border-box;
                    width: 100%;
                }

                // Status-specific colors
                .status-line {
                    width: 100%;
                    box-sizing: border-box;
                    position: relative;

                    .status-text {
                        color: var(--font-color1);
                    }

                    .status-bar {
                        position: absolute;
                        left: 0;
                        bottom: -0.3em;
                        width: 100%;
                        height: 0.2em;

                        &.background {
                            background-color: grey;
                        }

                        &.waiting {
                            background-color: blueviolet;
                        }

                        &.progress {
                            background-color: orange;
                        }

                        &.success {
                            background-color: greenyellow;
                        }

                        &.error {
                            background-color: red;
                        }
                    }
                }
            }
        }
    }
}