html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color1);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

input[type=button],
button {
    font-size: 13px;
    background-color: var(--interact-passive);
    color: var(--font-color1);
    padding: 0.4em 0.6em;
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
    transition: 0.2s;

    &:focus {
        outline: 2px solid var(--interact-focus);
    }

    &:hover {
        background-color: var(--interact-focus);
    }

    &:active {
        background-color: var(--interact-active);
    }

    @media (max-width: 700px) {}
}

input[type=text],
input[type=password],
textarea {
    font-size: 13px;
    background-color: var(--interact-passive);
    color: var(--font-color1);
    padding: 0.4em 0.6em;
    border: none;
    border-radius: 0.2em;
    cursor: text;
    transition: 0.2s;
    flex: 1;
    min-width: 5em;

    &:focus {
        border: inset 3px solid black;
        background-color: var(--interact-focus);
    }

    &:hover {
        background-color: var(--interact-focus);
    }

    &::placeholder {
        color: var(--font-color1);
    }

    @media (max-width: 700px) {}
}

select {
    font-size: 13px;
    background-color: var(--color1);
    color: var(--font-color1);
    padding: 0.4em 0.6em;
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
    transition: background-color 0.2s, border 0.2s;
    appearance: none; // Убирает стандартный стиль браузера
    width: 100%; // Чтобы занимал всю ширину контейнера
    box-sizing: border-box;

    width: fit-content;

    &:focus {
        border: inset 3px solid black;
        background-color: var(--color2);
    }

    &:hover {
        background-color: var(--color2);
    }

    &:active {
        background-color: var(--color2);
    }
}

a {
    color: var(--font-color1);
    transition: 0.1s;
    cursor: pointer;
    text-decoration: none;
    position: relative;

    &:hover {
        color: var(--font-hover);
    }

    display: inline-flex;
    flex-direction: row;
    gap: 0.25em;
    align-items: center;
}

textarea {
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

.switch-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;

    .sw-label {
        color: var(--font-color1);
    }
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--font-color1);
    border-radius: 12px;
    border: 5px solid transparent;
    border-right: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-clip: padding-box;

    &:hover {
        background-color: var(--font-hover);
    }
}

img {
    display: block;
}

.tagline {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25em;

    a {
        text-decoration: none;
        transition: filter 0.1s ease;

        &:hover {
            filter: brightness(0.6);
        }
    }

    .tag-quantity {
        color: var(--font-color3);
    }
}

.search-row {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    gap: 0.1em;
    background-color: #fff;
    border-radius: 1em;
    width: 100%;
    box-sizing: border-box;
    height: 1.4em;

    #taglist {
        color: var(--alternative-text-color);
        padding: 0;
        border-radius: 0;
        background-color: transparent;
        outline: none;
        width: auto;
        padding: 0.2em 0.5em;
        padding-right: 0.1em;
        flex: 1;

        &::placeholder {
            color: var(--alternative-text-color);
        }
    }

    #search-button {
        background-image: url("search.svg");
        background-size: contain;
        background-repeat: no-repeat;
        height: 1em;
        width: 1.4em;
        cursor: pointer;
    }
}

.autocomplete {
    position: absolute;
    box-sizing: border-box;
    top: calc(100% + 0.5em);
    width: 100%;
    background-color: var(--color2);
    border-radius: 0.5em;
    overflow: hidden;
    z-index: 10;

    .tagContainer {
        padding: 0.3em;
        transition: 0.05s;

        &:hover {
            background-color: var(--interact-active);
        }

        &.active {
            background-color: var(--interact-active);
        }
    }
}

.indicator {
    width: 1em;
    height: 1em;
    border-radius: 1em;

    &.g {
        background-color: greenyellow;
    }

    &.w {
        background-color: gold;
    }

    &.e {
        background-color: red;
    }
}

.norma-page-container {
    padding: 0 0.5em;
    display: flex;
    flex-direction: column;

    gap: 0.5em;
    min-height: 100vh;

    header {
        background-color: var(--color2);
        box-sizing: border-box;
        padding: 0.5em;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;

        @media (max-width:700px) {
            flex-direction: column;
            gap: 0.5em;
        }

        .label {
            height: 3em;
            filter: invert(1);
            cursor: pointer;

            @media (max-width:700px) {
                display: none;
            }
        }

        .nav-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 1em;

            .messages {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.25em;

                .counter {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 0.1em;
                    color: var(--font-color1);
                    background-color: var(--color1);
                    padding: 0.1em 0.5em;
                    border-radius: 1em;
                    text-align: center;

                    div {
                        display: inline;
                    }
                }
            }
        }
    }

    main {
        background-color: var(--color2);
        flex: 1 0 auto;
        padding: 0.5em;
        border-radius: 0.5em;
        position: relative;
    }

    footer {
        background-color: var(--color2);
        width: fit-content;
        height: fit-content;
        padding: 0.5em;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        align-self: center;
        color: var(--font-color1);

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.2em;

        .main-text {
            text-align: center;
        }

        .actions-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1em;
        }

        .sys-health-container {
            z-index: 10;
            position: relative;

            .sys-health-sizer {
                padding: 0.5em;
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                justify-content: center;
                opacity: 0;
                width: max-content;
            }

            .sys-healt-info {
                position: absolute;
                transform: translateX(-50%);
                left: 50%;
                bottom: 0;

                background-color: #000;
                padding: 0.5em;
                border-radius: 0.5em;
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                justify-content: center;
                width: max-content;

                .elements-container {
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    >* {
                        transition: 0.5s;
                        margin-bottom: -100%;
                    }
                }

                &:hover {
                    .elements-container {
                        >* {
                            opacity: 1;
                            margin-bottom: 0.5em;
                        }
                    }
                }

                .version-list {
                    color: #000000;
                    background-color: #fff;
                    border-radius: 0.5em;
                    padding: 0.5em;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 0.25em;
                }

                .sysRepCont {
                    color: #000000;
                    background-color: #fff;
                    border-radius: 0.5em;
                    padding: 0.5em;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 0.25em;
                }
            }
        }


        .versionInfo {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5em;
        }
    }
}

.message-container {
    border: 0.15em solid #b4b4b4;
    border-radius: 0.3em;
    padding: 0.25em;
    color: #fff;

    display: flex;
    flex-direction: column;
    gap: 0.25em;

    .message-data {
        background-color: var(--color2);
        padding: 0.5em;
        border-top-right-radius: 0.25em;
        border-top-left-radius: 0.25em;

        border: 0.1em solid #315f9b;

        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 0.5em;

        .data-field {}
    }

    .message-text {
        background-color: var(--color2);
        padding: 0.5em;

        border: 0.1em solid #315f9b;
    }

    .action-row {
        background-color: var(--color2);
        padding: 0.5em;
        border-bottom-right-radius: 0.25em;
        border-bottom-left-radius: 0.25em;

        border: 0.1em solid #315f9b;

        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5em;
    }

    @media (max-width:700px) {
        .message-data {}
    }
}


.user-block {
    display: inline-block;
    vertical-align: bottom;
    position: relative;

    &.user {
        color: #b00b69;
    }

    &.moderator {
        color: rgb(62, 62, 224);
    }

    &.admin {
        color: rgb(201, 31, 31);
    }

    &.owner {
        color: gold;
    }

    .shine {
        color: transparent;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: linear-gradient(110deg, transparent 0, #fff 1em, transparent 2em);
        background-repeat: no-repeat;
        background-size: 200% 200%;
        background-position: 100% 0;
        background-clip: text;
        pointer-events: none;
    }

    &:hover .shine {
        animation: shine 1.5s forwards infinite;
    }

    @keyframes shine {
        0% {
            background-position-x: 100%;
        }

        100% {
            background-position-x: -100%;
        }
    }
}

.ACTstatus {
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
    background-color: #fff;

    &.online {
        background-color: greenyellow;
    }

    &.afk {
        background-color: orange;
    }

    &.offline {
        background-color: gray;
    }
}

.blurry-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width:700px) {
        overflow: auto;
        align-items: flex-start;
    }
}

.patchNotesContainer {
    background-color: #353535;
    color: #fff;
    border-radius: 0.5em;
    padding: 1em;
    overflow: hidden;

    min-width: 30%;
    min-height: 30%;

    position: relative;

    display: flex;
    flex-direction: column;
    gap: 1em;

    .v-label {
        font-weight: bold;
        padding: 0.2em 0.4em;
        transform: skew(-13deg);

        &.Server {
            background-color: #228B22;
            color: #FFD700;
        }

        &.DB {
            background-color: #696969;
            color: #ffffff;
        }

        &.Webpage {
            background-color: #4682B4;
            color: #FFFFFF;
        }

        &.TGbot {
            background-color: #0088CC;
            color: #FFFFFF;
        }
    }

    .label-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.3em;
    }

    .update-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5em;

        .update-container {
            border: solid 0.1em transparent;
            border-left-color: #b00b69;
            padding: 0.5em;

            display: flex;
            flex-direction: column;
            gap: 0.5em;

            .version-row {
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;
                gap: 0.5em;

                .version-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .current-label {
                        font-weight: bold;
                        padding: 0.2em;
                        transform: skew(-13deg);
                        background-color: #b00b69;
                        color: #fff;
                    }
                }

                .update-date {
                    font-weight: bold;
                    padding: 0.2em 0.4em;
                    transform: skew(-13deg);
                    background-color: #fff;
                    color: #000;
                }
            }

            .updates-list {
                display: flex;
                flex-direction: column;
                gap: 0.5em;

                .line-cont {
                    padding-left: 0.5em;
                    display: flex;
                    flex-direction: column;
                    gap: 0.25em;

                    .line-label {
                        display: inline;
                        flex-direction: row;
                        align-items: center;
                        gap: 0.5em;

                        a{
                            color: #fff;
                            
                            &:hover{
                                color: #0077ff;
                            }
                        }

                        .tag-line {
                            display: inline-flex;
                            flex-direction: row;
                            align-items: center;
                            padding-right: 0.25em;

                            .line-tag {
                                display: inline;
                                font-weight: bold;
                                padding: 0.2em;
                                transform: skew(-13deg);

                                &.new {
                                    background-color: #f00;
                                    color: #fff;
                                }

                                &.fix {
                                    background-color: orange;
                                    color: #000000;
                                }

                                &.rework {
                                    background-color: #0077ff;
                                    color: #ffffff;
                                }

                                &.removed {
                                    background-color: #000;
                                    color: #fff;
                                }
                            }
                        }
                    }

                    .applies-to-cont {
                        display: flex;
                        flex-direction: row;
                        align-items: center;


                        color: #fff;
                        font-size: 0.7em;

                        &>* {
                            display: inline;
                            font-weight: bold;
                            padding: 0.2em;
                            transform: skew(-13deg);
                        }

                        .intro {
                            background-color: #fff;
                            color: #000;
                        }

                        .user {
                            background-color: #b00b69;
                        }

                        .moderator {
                            background-color: rgb(62, 62, 224);
                        }

                        .admin {
                            background-color: rgb(201, 31, 31);
                        }

                        .owner {
                            background-color: gold;
                            color: #000;
                        }
                    }
                }
            }
        }
    }

    .closeCont {
        height: 1em;
        width: 1em;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.25em;
        border-bottom-left-radius: 0.25em;
        transition: 0.2s;
        cursor: pointer;

        img {
            max-width: 100%;
            max-height: 100%;
        }

        &:hover {
            background-color: #000;

            img {
                filter: invert(1);
            }
        }
    }
}

.sortable-container {
    background: var(--color2);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    header input {
        width: 100%;
        padding: 10px;
        font-size: 1.2em;
    }

    .post-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        align-items: center;
        min-height: 200px;
        border: 1px dashed #ccc;
        padding: 10px;
    }

    footer {
        display: flex;
        justify-content: space-between;

        input {
            padding: 10px 20px;
            font-size: 1em;
        }
    }

    .draggable {
        width: 100px;
        height: 100px;
        margin: 10px;
        background-color: #f0f0f0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: move;
    }
}

.group-editor-selector-container {
    background-color: var(--color2);
    border-radius: 0.5em;
    padding: 0.5em;
}

.reorderer-container {
    background-color: var(--color2);
    border-radius: 0.5em;
    padding: 0.5em;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;

    max-width: 100vw;

    .label {
        font-size: 1.2em;
        color: var(--font-color1);
    }

    .reord-cont {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5em;

        background-color: var(--interactible);
        border-radius: 0.25em;
        padding: 0.5em;
    }

    .button-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5em;

        input[type=color] {
            &::-webkit-color-swatch {
                border-radius: 0.2em;
            }
        }
    }
}

.GC-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    background-color: var(--color2);
    color: var(--font-color1);
    padding: 1em 2em;
    border-radius: 0.5em;

    .label {
        font-size: 1.3em;
        font-weight: bolder;
    }
}

.group-line {
    position: relative;

    transition: 0.3s;

    .additional {
        z-index: 1;

        border: solid 0.15em var(--color3);
        background-color: var(--color1);
        color: var(--font-color1);
        min-height: 50px;
        min-width: 50px;
        padding: 0.5em;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5em;

        border-radius: 0.5em;

        .lost-pages {
            font-size: 2em;
            font-weight: bolder;
            transition: 0.2s;
            cursor: pointer;

            &:hover {
                color: var(--font-hover);
            }
        }

        //.groupName {}
    }

    .list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 0.5em;
    }

    .outline {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 90%;
        box-sizing: border-box;
        transition: 0.2s;
        border-radius: 0.2em;

        pointer-events: none;

        border: solid 0.1em color-mix(in srgb, var(--borderclr), transparent 50%);

        opacity: 0;
    }

    &:hover {
        .outline {
            top: 50%;
            left: 50%;
            width: calc(100% + 0.6em);
            height: calc(100% + 0.6em);
            border: solid 0.1em var(--borderclr);
            opacity: 1;
        }
    }

    @media (max-width:700px) {
        .outline {
            bottom: -0.3em;
            left: 50%;
            width: calc(100% + 0.6em);
            height: calc(100% + 0.6em);
            opacity: 1;
            border: solid 0.1em var(--borderclr);
            background-color: transparent;
        }
    }
}

input[type=color] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    box-sizing: border-box;
    padding: 0;

    width: 5em;
    height: 1.5em;

    border: none;
    cursor: pointer;

    background-color: transparent;

    overflow: hidden;

    &::-webkit-color-swatch-wrapper {
        padding: 0;
        background-color: transparent;
    }

    &::-webkit-color-swatch {
        border-radius: 0.75em;
    }
}

.popup {
    background: white;
    padding: 1em;
    border-radius: 0.5em;
    max-width: 80%;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
    height: 250px;

    h2 {
        margin-top: 0;
    }

    .textarea-container {
        box-sizing: border-box;
        width: 100%;
        height: 20em;
        position: relative;

        textarea {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
        }
    }

    .button_row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5em;
    }

    .how-to-remove {
        color: var(--font-color3);
        text-align: center;
        font-size: 0.8em;
        cursor: pointer;
    }
}

.post-card {
    cursor: pointer;
    position: relative;
    width: fit-content;

    overflow: hidden;

    font-size: 0.8em;

    .post-data-container {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: color-mix(in srgb, var(--color1), transparent 70%);
        padding: 0.15em 0.3em;
        border-bottom-right-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0em;

        min-width: 0%;
        transition: 0.2s ease;

        box-sizing: border-box;

        .post-id-container {
            cursor: help;
            opacity: 1;
            color: var(--font-color1);
            white-space: nowrap; // Предотвращает перенос текста
            font-weight: bold;
        }

        .inf-cont {
            flex-direction: column;
            align-items: center;
            justify-content: center;

            animation: fadeOutCard 0.1s forwards;

            @keyframes fadeOutCard {
                0% {
                    max-width: 100%;
                    opacity: 1;
                }

                99% {
                    max-width: 0%;
                    opacity: 0;
                }

                100% {
                    max-width: 0%;
                    opacity: 0;
                    display: none;
                }
            }

            .fav {
                cursor: help;
                filter: invert(1);

                img {
                    height: 1em;
                }
            }

            .rating {
                cursor: help;
                font-weight: bold;
            }

            .comments-count {
                font-weight: bold;
                cursor: help;
                background-color: #fff;
                color: #000;
                min-width: 1.25em;
                padding: 0 0.2em;
                text-align: center;
                border-radius: 0.5em;
                border-top-left-radius: 0;
            }
        }

        .warning-container-container {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            overflow: hidden;

            animation: fadeOutWarns 0.6s forwards;

            @keyframes fadeOutWarns {
                0% {
                    height: 180;
                }

                33% {
                    height: 0px;
                }

                100% {
                    height: 0px;
                }
            }

            .warning-container {
                position: absolute;
                top: 0;
                width: 100%;

                &>* {
                    font-weight: bold;
                    text-align: center;
                    padding: 0.25em 0.15em;
                }

                .video-warning {
                    background-color: #000;
                    color: #f90;
                }

                .new-ribbon {
                    background-color: red;
                    color: #fff;
                }

                .low-tags-ribbon {
                    background-color: yellow;
                    color: #000;
                }
            }
        }
    }

    .image-container {
        position: relative;
        overflow: hidden;

        .hd-indicator {
            font-size: 0.9em;
            position: absolute;
            z-index: 1;

            padding: 0.2em;

            background-color: #000;
            border: solid 2px gold;
            word-break: keep-all;
            line-break: strict;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            width: 2.5em;
            height: 2.5em;
            border-radius: 0.4em;

            animation: hdFlyout 0.2s forwards;

            .text {
                color: gold;
                text-align: center;
                font-weight: bold;
            }

            @keyframes hdFlyout {
                from {
                    right: 0.5em;
                    bottom: 0.5em;
                    opacity: 1;
                }

                to {
                    right: -3em;
                    bottom: -3em;
                    opacity: 0;
                }
            }
        }

        img {
            pointer-events: none;
            height: 100%;

            max-height: 200px;

            @media (max-width:700px) {
                max-height: 160px;
            }
        }
    }

    &:hover {
        .image-container {
            .hd-indicator {
                animation: hdFlyin 0.2s forwards;

                @keyframes hdFlyin {
                    from {
                        right: -3em;
                        bottom: -3em;
                        opacity: 0;
                    }

                    to {
                        right: 0.5em;
                        bottom: 0.5em;
                        opacity: 1;
                    }
                }
            }
        }

        .post-data-container {
            background-color: var(--color1);
            min-width: 101%; // Расширяется плавно до полной ширины
            border-radius: 0;
            gap: 0.2em;

            .inf-cont {
                animation: fadeInCard 0.5s forwards;

                @keyframes fadeInCard {
                    0% {
                        display: flex;
                        max-width: 0%;
                        opacity: 0;
                    }

                    50% {
                        display: flex;
                        max-width: 100%;
                        opacity: 0;
                    }

                    100% {
                        display: flex;
                        max-width: 100%;
                        opacity: 1;
                    }
                }
            }

            .warning-container-container {
                animation: fadeInWarns 0.6s forwards;

                @keyframes fadeInWarns {
                    0% {
                        height: 0;
                    }

                    33% {
                        height: 0px;
                    }

                    100% {
                        height: 180px;
                    }
                }
            }
        }
    }

    @media (max-width:700px) {
        .post-data-container {
            width: max-content;
            gap: 0.2em;

            .inf-cont {
                flex-direction: column;
                align-items: center;
                justify-content: center;

                animation: none;
                display: flex;
                max-width: 100%;
                opacity: 1;

                width: max-content;
            }
        }

        &:hover {
            .post-data-container {
                background-color: var(--color1);
                min-width: 101%; // Расширяется плавно до полной ширины
                border-radius: 0;

                .inf-cont {
                    animation: none;
                }

                .warning-container-container {
                    animation: fadeInWarns 0.6s forwards;

                    @keyframes fadeInWarns {
                        0% {
                            height: 0;
                        }

                        33% {
                            height: 0px;
                        }

                        100% {
                            height: 180px;
                        }
                    }
                }
            }
        }
    }

    &.dragging {
        opacity: 0.5;
        outline: solid 3px red;
    }

    &.over {
        outline: solid 3px orange;
    }
}



input[type=checkbox] {
    cursor: pointer;
    appearance: none;
    width: fit-content;

    background-color: #a6a6a6;
    height: 1.25em;
    width: 2.5em;
    border-radius: 1em;
    margin: 0;

    position: relative;

    transition: 0.15s;

    &::after {
        transition: left 0.15s ease-in;
        content: "";

        position: absolute;
        height: 1em;
        width: 1.25em;
        border-radius: 0.5em;
        background-color: #fff;
        transform: translateY(-50%);
        top: 50%;
        left: 0.125em;
    }

    &:checked {
        background-color: rgb(80, 234, 19);

        &::after {
            left: 1.125em;
            right: 0.125em;
        }
    }
}