.post-card {
    cursor: pointer;
    overflow: hidden;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 150px;

    max-height: 200px;

    @media (max-width:600px) {
        .preview-image {
            max-height: 150px;
        }
    }


    .info-row {
        color: #fff;
        padding: 0.1em;
        font-weight: bolder;
        background-color: #00365d;
        width: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.25em;
    }

    .preview-container {
        position: relative;
        overflow: hidden;

        .video-indicator {
            height: 20px;
            width: 20px;
            position: absolute;
            right: 0.3em;
            top: 0.3em;
            padding: 0.2em;
            background-color: #fff;
            border: solid 3px rgb(0, 0, 0);

            img {
                width: 100%;
                height: 100%;
            }

            opacity: 0;

            animation: flow-out-right-up 0.3s forwards;
        }

        .hd-indicator {
            aspect-ratio: 1;
            min-height: 20px;
            min-width: 20px;
            position: absolute;
            left: 0.3em;
            top: 0.3em;
            padding: 0.2em;
            background-color: #fff;
            border: solid 3px rgb(0, 0, 0);
            color: #000;
            font-weight: bolder;
            text-align: center;
            font-size: 12px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            opacity: 0;

            animation: flow-out-left-up 0.3s forwards;
        }

        &:hover {
            .hd-indicator {
                animation: flow-in-left-up 0.3s forwards;
            }

            .video-indicator {
                animation: flow-in-right-up 0.3s forwards;
            }

            .warning-container {
                animation: flow-up 0.5s forwards;
            }
        }

        @keyframes flow-in-left-up {
            0% {
                opacity: 0;
                transform: translate(50%, 50%);
            }

            100% {
                opacity: 1;
                transform: translate(0, 0);
            }
        }

        @keyframes flow-out-left-up {
            0% {
                opacity: 1;
                transform: translate(0, 0);
            }

            100% {
                opacity: 0;
                transform: translate(50%, 50%);
            }
        }



        @keyframes flow-in-right-up {
            0% {
                opacity: 0;
                transform: translate(-50%, 50%);
            }

            100% {
                opacity: 1;
                transform: translate(0, 0);
            }
        }

        @keyframes flow-out-right-up {
            0% {
                opacity: 1;
                transform: translate(0, 0);
            }

            100% {
                opacity: 0;
                transform: translate(-50%, 50%);
            }
        }



        @keyframes flow-up {
            0% {
                opacity: 0;
                transform: translateY(100%);
            }

            100% {
                opacity: 1;
                transform: translateY(0, );
            }
        }

        @keyframes flow-down {
            0% {
                opacity: 1;
                transform: translateY(0, );
            }

            100% {
                opacity: 0;
                transform: translateY(100%);
            }
        }



        .warning-container {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            font-size: 13px;
            font-weight: bolder;
            opacity: 0;

            animation: flow-down 0.5s forwards;

            text-align: center;

            >div{
                padding: 0.1em 0;
            }

            .new-ribbon {
                position: relative;
                background-color: red;
                color: #fff;

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }

            .low-tags-ribbon {
                position: relative;
                background-color: yellow;
                color: #000;

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
        }
    }

    img {
        pointer-events: none;
    }

    &.dragging {
        opacity: 0.5;
        /* Полупрозрачность элемента в процессе перетаскивания */
        outline: solid 3px red;
    }

    &.over {
        outline: solid 3px orange;
    }
}