:root {
    //default colors
    --color1: #000000;
    --color2: #202020;
    --color3: #ffee95;
    --color4: #909090;

    --font-color1: #ffee95;
    --font-color2: #ffffff;
    --font-color3: #808080;
    --font-hover: #f68b00;

    --interact-passive: #8d8453;
    --interact-active: var(--color4);
    --interact-focus: var(--font-hover);
}

//special styling