:root {
    //default colors
    --color1: #001a2e;
    --color2: #002a61;
    --color3: #004c8b;
    --color4: #0061e0;

    --font-color1: #ffffff;
    --font-color2: #000000;
    --font-color3: #808080;
    --font-hover: var(--color4);

    --interact-passive: #006bc2;
    --interact-active: var(--color4);
    --interact-focus: var(--color3);
}

//special styling