:root {
    //default colors
    --color1: #00213b;
    --color2: #003477;
    --color3: #00579e;
    --color4: #006eff;

    --font-color1: #ffffff;
    --font-color2: #000000;
    --font-color3: #808080;
    --font-hover: var(--color4);

    --interact-passive: #006bc2;
    --interact-active: var(--color4);
    --interact-focus: var(--color3);
}

//special styling