:root {
    //default colors
    --color1: #000000;
    --color2: #1f1e0d;
    --color3: #ffd700;
    --color4: #DBD3D3;

    --font-color1: #dad61a;
    --font-color2: #000000;
    --font-color3: #808080;
    --font-hover: #ffffff;

    --interact-passive: var(--color2);
    --interact-active: #9b991e;
    --interact-focus: var(--color2);

    --main-message-color: transparent;
    --secondary-message-color: transparent;
    --message-font-color: var(--font-color1);
}

//special styling
.norma-page-container {
    header {
        border: 1px solid gold;
        border-top: none;
    }

    main {
        border: 1px solid gold;
    }

    footer {
        border: 1px solid gold;
        border-bottom: none;
    }
}

.msg-cont.in, .messages .counter{
    border: 1px solid var(--color3);
}
.msg-cont.out{
    border: 1px solid var(--font-hover);
}