:root {
    //default colors
    --color1: #1f251f;
    --color2: #303a30;
    --color3: #41940e;
    --color4: #00b035;

    --font-color1: #ffffff;
    --font-color2: #000000;
    --font-color3: #808080;
    --font-hover: var(--color4);

    --interact-passive: #009b53;
    --interact-active: var(--color4);
    --interact-focus: var(--color3);

    --main-message-color: #41940e;
    --secondary-message-color: #009b53;
    --message-font-color: var(--font-color1);
}

//special styling