:root {
    --color1: #521c61;
    --color2: #67288e;
    --color3: #c04278;
    --color4: #ffffff;

    --font-color1: #ffffff;
    --font-color2: #000000;
    --font-color3: #a6a6a6;
    --font-hover: #d1238b;

    --interact-passive: var(--color2);
    --interact-active: #ffacd3;
    --interact-focus: var(--color3);

    --main-message-color: #c04278;
    --secondary-message-color: #d1238b;
    --message-font-color: var(--font-color1);
}

.norma-page-container {
    background-color: var(--color1);

    header {
        border: 1px solid var(--color3);
        border-top: none;
    }

    main {
        border: 1px solid var(--color3);
    }

    footer {
        border: 1px solid var(--color3);
        border-bottom: none;
    }
}