main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    gap: 1em;
}

.search-row {
    grid-column: 1;
}

.view-container {
    grid-column: 2;
    grid-row: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;

    .file {
        width: auto;
        position: relative;
        box-sizing: border-box;

        img {
            max-width: 100%;
        }

        video {
            max-width: 100%;
            max-height: 700px;
        }

        &:hover {
            .full-scree-view-button {
                opacity: 0.2;
            }

            .resolution-selector {
                opacity: 0.2;
            }
        }

        .full-scree-view-button {
            position: absolute;
            background-color: #000;
            padding: 0.5em;
            right: 0;
            top: 0;
            border-bottom-left-radius: 0.5em;
            opacity: 0;
            transition: 0.3s;
            cursor: pointer;

            &:hover {
                opacity: 0.9;
            }

            img {
                height: 2em;
            }
        }

        .resolution-selector {
            position: absolute;
            background-color: #000;
            padding: 0.5em;
            left: 0;
            top: 0;
            border-bottom-right-radius: 0.5em;
            opacity: 0;
            transition: 0.3s;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }
    }

    .special-data {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1em;

        .score-n-fav {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 0.5em;

            background-color: var(--color1);
            border: 0.1em solid var(--color3);
            width: fit-content;
            padding: 0.5em;
            border-radius: 0.5em;

            .score {
                height: 15px;
                width: 75px;
                border-radius: 10px;
                display: flex;
                flex-direction: row;
                align-items: stretch;
                justify-content: space-between;
                overflow: hidden;
                background-color: var(--color2);

                .positive {
                    background-color: green;
                }

                .negative {
                    background-color: #cb4700;
                }
            }

            .liked {
                background-color: rgb(0, 200, 0);

                &:hover {
                    background-color: rgb(0, 100, 0);
                }
            }

            .disliked {
                background-color: rgb(200, 0, 0);

                &:hover {
                    background-color: rgb(100, 0, 0);
                }
            }

            .fav {
                padding: 0.3em;
                background-color: var(--interact-passive);
                border-radius: 0.1em;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.25em;

                cursor: pointer;
                color: #fff;

                &:hover {
                    background-color: var(--interact-focus);
                }

                &:active {
                    background-color: var(--interact-active);
                }

                .bookmark-img {
                    height: 1em;
                    filter: invert(1);
                }
            }

            .faved {
                background-color: green;

                &:hover {
                    background-color: rgb(0, 107, 0);
                }

                &:active {
                    background-color: rgb(0, 75, 0);
                }
            }
        }

        .desc {
            box-sizing: border-box;
            color: var(--font-color1);
            background-color: var(--color1);
            border: 0.1em solid var(--color3);
            width: fit-content;
            border-radius: 0.5em;

            .desc-label {
                padding: 0.5em;
            }

            .desc-splitter {
                width: 100%;
                height: 0.1em;
                background-color: var(--color3);
            }

            .desc-text {
                padding: 0.5em;
            }
        }

        .comments-section-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: baseline;
            gap: 1em;

            box-sizing: border-box;
            color: var(--font-color1);
            width: fit-content;

            @media (min-width:700px) {
                flex-grow: 1;
            }

            .new-comment-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 0.5em;

                background-color: var(--color1);
                border: 0.1em solid var(--color3);
                padding: 0.5em;
                border-radius: 0.5em;

                width: 100%;

                box-sizing: border-box;
            }

            .comments-list {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                gap: 0.5em;

                .comment-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 0.5em;

                    background-color: var(--color1);
                    border: 0.1em solid var(--color3);
                    padding: 0.5em;
                    border-radius: 0.5em;

                    width: 100%;
                    box-sizing: border-box;

                    .user-data-container {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 0.5em;

                        padding: 0.5em;

                        img,
                        video {
                            max-width: 200px;
                            max-height: 200px;
                        }

                        .creation-date {
                            color: var(--font-color1);
                        }
                    }

                    .comment-data-container {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: stretch;
                        gap: 0.5em;
                        height: 100%;

                        .comment-text-container {

                            flex: 1;

                            .comment-text {
                                padding: 0.5em;
                                background-color: #fff;
                                color: #000;
                                border-radius: 1em;
                                border-top-left-radius: 0;
                                width: fit-content;
                                word-break: break-all;
                                text-wrap: wrap;
                            }
                        }

                        .comment-actions {
                            padding: 0.5em;

                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 1em;

                            .delete-button {
                                &:hover {
                                    color: #cb4700;
                                }
                            }
                        }
                    }
                }
            }
        }

        .group-info {
            background-color: var(--color1);
            border: 0.1em solid var(--color3);
            width: fit-content;
            max-width: 100%;
            box-sizing: border-box;
            padding: 0.5em;
            border-radius: 0.5em;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 0.75em;
        }
    }
}

.search-data-act {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;

    .tags {
        color: var(--font-color1);
        background-color: var(--color1);
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        padding: 0.3em;
        border-radius: 0.3em;

        .tag-group {
            display: flex;
            flex-direction: column;
            gap: 0.25em;

            .label {
                font-size: 1.3em;
            }

            .tagline {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.25em;

                a {
                    text-decoration: none;
                }

                .tag-quantity {
                    color: #808080;
                }
            }
        }
    }

    .post-info {
        background-color: var(--color1);
        color: var(--font-color1);
        padding: 0.3em;
        border-radius: 0.3em;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5em;

        .label {
            font-weight: bolder;
            font-size: 1.25em;
        }

        .audio-warning {
            display: inline;
            color: #ff0000;
            cursor: pointer;
        }
    }

    .post-actions {
        background-color: var(--color1);
        color: var(--font-color1);
        padding: 0.3em;
        border-radius: 0.3em;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5em;

        .label {
            font-weight: bolder;
            font-size: 1.25em;
        }
    }
}

.blurry-overlay {
    overflow: hidden;

    .movable-image {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        user-select: none;
    }
}

@media (max-width:700px) {
    main {
        grid-column-gap: 0;
    }

    .search-row {
        grid-row: 1;
        grid-column: 1;
    }

    .view-container {
        grid-row: 2;
        grid-column: 1;
    }

    .search-data-act {
        grid-row: 3;
        grid-column: 1;
    }
}