.user-page-container {
    color: var(--font-color1);
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    z-index: 2;
    position: relative;

    .welcome_message_block {
        font-size: 2em;

        .hello {
            display: inline-block;
            color: yellow;
            cursor: pointer;
        }

        .text {
            display: inline-block;
        }
    }

    .user-card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;
        width: 100%;

        @media (max-width:700px) {
            flex-direction: column;
            align-items: flex-start;
        }

        .list-container {
            display: flex;
            flex-direction: column;
            gap: 0.3em;
            padding: 0.5em;
            background-color: color-mix(in srgb, var(--color1), transparent 30%);
            height: fit-content;

            .label {
                font-size: 1.4em;
            }

            .avatar-block {
                img {
                    cursor: pointer;
                }
            }

            select {
                width: 100%;
            }

            .session-card {
                border: 0.1em solid var(--color3);
                padding: 0.3em;
                border-radius: 0.3em;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.2em;

                &.current {
                    border-color: greenyellow;
                }

                &.TG {
                    border-color: deepskyblue;
                }

                .action-bar{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
            }
        }

        .experiments {
            animation: expFadeIn 0.5s;

            @keyframes expFadeIn {
                0% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }
        }
    }

    .favs-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5em;
        background-color: color-mix(in srgb, var(--color1), transparent 30%);
        border: 0.25em solid var(--color3);
        border-radius: 0.5em;
        width: fit-content;
        gap: 0.3em;

        .label {
            font-size: 1.4em;
        }

        .favs-zone {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 0.3em;
        }
    }
}

main {
    position: relative;
    overflow: hidden;

    .imgContainer {
        z-index: 1;
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        max-height: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        .backgroundImg {
            width: 100%;
            mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0));
            pointer-events: none;
        }
    }
}