.notification-container {
    z-index: 9999;
    position: fixed;
    top: 0;
    right: 50%;
    transform: translateX(+50%);
    padding: 0.5em;
    max-width: 100vw;
    max-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;

    .notification {
        position: relative;
        color: #fff;
        border: solid 0.2em var(--notification-color);
        padding: 1em;
        border-radius: 0.5em;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(0.3em);

        &.msg {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1em;
        }

        &.confirm-text {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1em;
        }

        &.input-short {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5em;

            .input-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.5em;
            }
        }

        &.input-long {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5em;

            .text-input-container {
                position: relative;
            }

            .input-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.5em;
            }
        }

        &.input-dropdown {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5em;

            .drop-down {
                background-color: #fff;
                color: #000;
                transition: 0.2s;
            }

            .input-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.5em;
            }
        }

        

        .cancel-button {
            background-color: #fff;
            color: #000;
            width: fit-content;
            padding: 0.1em 0.3em;
            border-radius: 0.2em;
            user-select: none;
            cursor: pointer;
            transition: 0.1s;

            &:hover {
                background-color: rgb(169, 0, 0);
                color: #fff;
            }
        }

        .confirm-button {
            background-color: #fff;
            color: #000;
            width: fit-content;
            padding: 0.1em 0.3em;
            border-radius: 0.2em;
            user-select: none;
            cursor: pointer;
            transition: 0.1s;

            &:hover {
                background-color: rgb(0, 169, 0);
                color: #fff;
            }
        }

        .timer-bar {
            height: 0.2em;
            position: absolute;
            bottom: 0.2em;
            left: 50%;
            transform: translateX(-50%);
            width: calc(100% - 0.4em);
            background-color: greenyellow;
            border-radius: 0.1em;

            @keyframes timer {
                from {
                    width: calc(100% - 0.4em);
                }

                to {
                    width: 0%;
                }
            }
        }

        input:not([type="checkbox"]) {
            background-color: #fff;
            color: #000;

            &::placeholder {
                color: #000;
            }
        }

        textarea {
            background-color: #fff;
            color: #000;
            width: 300px;
            overflow: hidden;
            box-sizing: border-box;

            &::placeholder {
                color: #000;
            }
        }

        &.highlight {
            animation: highAnim 1s linear forwards;

            @keyframes highAnim {
                0% {
                    border-color: var(--notification-color);
                    box-shadow: 0 0 0 var(--font-hover);
                }

                25% {
                    border-color: var(--font-hover);
                    box-shadow: 0 0 1em var(--font-hover);
                }

                50% {
                    border-color: var(--notification-color);
                    box-shadow: 0 0 0 var(--font-hover);
                }

                75% {
                    border-color: var(--font-hover);
                    box-shadow: 0 0 1em var(--font-hover);
                }

                100% {
                    border-color: var(--notification-color);
                    box-shadow: 0 0 0 var(--font-hover);
                }
            }
        }
    }
}